<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Backend"/>

<f:section name="Content">

    <h1>Static Export</h1>

    <f:flashMessages/>

    <h2>Create new Export</h2>

    <p>This action will ZIP all current HTML files of the collector and collection different assets to create a
        export.<br/>The HTMl files are also processed by some post processors.</p>

    <f:form action="list">
        <f:form.hidden name="export" value="1"/>
        <f:form.submit value="Create Export" class="btn btn-primary"/>
    </f:form>

    <h2>Existing exports</h2>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Export-Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        <f:for each="{exports}" as="export">
            <tr>
                <td>{export}</td>
                <td>
                    <f:link.action action="download" arguments="{fileName: export}" class="btn btn-primary">Download
                    </f:link.action>
                    <f:link.action action="publish" arguments="{fileName: export}" class="btn btn-primary">Publish
                    </f:link.action>
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:section>
</html>
